* {
  font-family: "inter, sans-serif";
}
.navbar-nav .nav-link {
  color: #000; /* Default link color */
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  border-radius: 5px; /* Rounded corners */
}

.navbar-nav .nav-link:hover {
  background-color: #f1c40f; /* Hover background color (yellow) */
  color: #fff; /* Text color on hover (white) */
}

.navbar-nav .nav-link:active {
  background-color: #e67e22; /* Active state background color (orange) */
  color: #fff;
}

.nav-space li {
  padding: 0 0 0 50px;
}
.li-space {
  margin: 0 0 0 200px;
}
.bg-image {
  background-image: url("./assets/imgbg.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
@media (max-width: 576px) {
  .nav-space li {
    padding: 0;
  }

  .li-space {
    margin: 0;
  }
}
